/* ckeditor */
#ckeditor{
  margin-top: 10px;
}
/* ckeditor */



/* header */
#header_div{
  text-align: center;
}
#header_p{
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  padding-top: 10px;
}
/* header */



/* category */
#category_img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px auto;
  margin-bottom: 5px;
}
#category_write_button{
  font-size: 30px;
  font-weight: bold;
  font-family: 'retro';
  background-color: red;
  cursor: pointer;
}
.category_edit{
  font-family: 'retro';
  width: 55px;
  margin-left: 30px;
  background-color: #0D4C23;
  color: white;
  cursor: pointer;
}
.category_manage{
  font-family: 'retro';
}
#category_modi{
  width: 150px;
  font-family: 'retro';
}
#category_add{
  font-family: 'retro';
  margin-left: 30px;
  background-color: #0D4C23;
  color: white;
  cursor: pointer;
}

.Category ul { line-height: 40px; }
.Category ul li { list-style: none; }
.Category ul li a { list-style: none; color : black; text-decoration: none; }
.Category ul li .pre_cat { font-weight: bold; color : #1404F4; }
/* category */



/* right_write */

/* right_write */



/* list */
#list_container{
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#list_header{
  display: flex;
  margin-bottom: 20px;
}
#list_title{
  width: 80%;
  color: #FC1CA6;
}
#list_date{
  width: 20%;
  color: #FC1CA6;
  text-align: center;
}
.list_db_title{
  width: 80%;
}
.list_db_date{
  width: 20%;
  text-align: center;
}

.page_num {
  margin-right: 20px;
  list-style: none;
  display : inline-block;
  cursor: pointer;
}
/* list */



/* main */
#main_{
  border: 1px solid black;
  border-bottom: 0px;
  width: 60%;
}
/* main */



/* search */
.search_input {
  width: 50%;
}
/* search */



/* view */
.top_title {
  border-bottom: solid 1px #ababab;
}
.top_title #title_txt {
  border: none;
  padding-bottom: 0px;
}
#title_txt:focus { outline : none; }
#title_txt {
  width: 95%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border-bottom: solid 1px #ababab;
  font-weight: bold;
  font-family: 'retro';
}

#view_modi_button{
  width: 46px;
  height: 27px;
  cursor: pointer;
}
#view_del{
  width: 50px;
  height: 27px;
  cursor: pointer;
}
#view_move{
  padding-top: 10px;
  display: flex;
  text-align: center;
  margin-top: 150px;
  border-top: 1px solid #ababab;
}
.view_reply{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ababab;
  margin-bottom: 10px;
}
/* view */



/* write */
#write_title{
  width: 90%;
  font-size: 40px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ababab;
  font-family: 'retro';
}
/* write */



/*  */








